body{
  background: rgb(238,249,254);
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

.header {
  background: rgb(171,215,236);
  text-align: center;
  padding: 10px;
  margin-bottom: 35px;
}

.content {
  width: 600px;
  min-height: 500px;
  margin: 0 auto;
  padding: 25px;
  background: white;
  border: 5px solid rgb(253,156,156);
  border-radius: 5px;
  color: rgb(91,91,91);
  box-sizing: border-box;
}

.todo-list__item {
  display: flex;
  margin: 10px;
  padding-bottom: 2px;
  border-bottom: 1px dotted rgb(91,91,91);
  align-items: center;
}

.todo-list__delete-btn {
  background-color: rgb(252, 207, 207);
  font-size: 12px;
  border: none;
  border-radius: 10px;
  padding: 1px 5px;
  margin-left: 10px;
  cursor: pointer;
  outline: none;
  appearance: none;
}
.todo-register-area {
  width: 600px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

.todo-register-area__input{
  width: 300px;
}

.todo-totalling {
  font-size: large;
  color: rgb(91,91,91);
  display: flex;
  width: 600px;
  margin: 0 auto;
}

.todo-not-yet {
  padding-right: 20px;
}

.todo-not-yet__count {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:rgb(253,156,156);
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  border-radius: 40px;
}


.todo-completion__count {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color:rgb(171,215,236);
  vertical-align: middle;
  line-height: 40px;
  text-align: center;
  margin: 5px;
  border-radius: 40px;
}